*{
  box-sizing: border-box;
}


body {
  font-family: Helvetica, sans-serif;
  margin: 40px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  max-width: 340px;
  width:100%;
  height: 52px;
  padding: 10px 10px 10px 40px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  /*background-image: url("search.png");
  background-position: 10px;
  background-size: 30px 30px;
  background-repeat: no-repeat;*/
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  max-width: 340px;
  width:100%;
  display: block;
  position: absolute;
  top: 51px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 200px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/*.react-autosuggest__suggestions-list
{

}*/

.no-suggestions {
  margin-top: 10px;
  padding-left: 10px;
  color: red;
}

.autosuggest-container{
  position: relative;
}

.search-icon{
  position: absolute;
  height:30px;
  width:30px;

  z-index: 1;
  top:10px;
  left:10px;

}
